.revenueContainer{
    border: 1px solid #e0e0e0;
    padding-left: 1%;
    height: 50%;
    .revenueTitleContainer{
        display: flex;
        justify-content: space-between;
      

    }
    .date{
        padding-right: 1%;
        color: #707070;
        font-size: 15px;
        }
    .revenue{
        text-align: center;
        font-size: 25px;
        color: red;
        font-weight: 800;
        o{
            font-size: 15px;
            color: #707070;  
            font-weight: normal;
        }

    }

}
.underline{
    
    border-bottom: 3px solid red;
    width: 2%;
 
}