.Welcome{
  font-size: 35px;
 
}

.Welcome_details
{
    color:grey;
    padding-top:-1000px ;
   
  }
.homeContainer{
    border: 1px solid #e0e0e0;
    padding-bottom: 1%;
    padding-bottom: 1%;
 
    .contents{
        padding-left: 10%;
        padding-right: 10%;
        
     .title{
        text-align: center;
        font-size: 22px;
       
        u{
            padding-bottom: 10px;
            text-decoration: underline;
            -webkit-text-decoration-color: red;
            text-decoration-color: red;
        }
     }
        .ambulances{
           
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .add{
               
                height: auto;
                border-radius: 10%;
                margin-left: 2%;
                margin-top: 2%;
                display: flex;
                align-items: center;
            
            }
           
        }
     
    }

}
.details{
    .trips{
        font-size: 20px;
        
        b{
            color: red;

        }

    }
    .seeMore{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}