.Ambulance_module{
    height : auto;
    width: 17%;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 2%;
}
.ambulance_container{
    display: flex;
    flex-wrap: wrap;
    .ambulance_image{
           padding-left: 10px;
           width: 60px;
        
           
    }
.description{
   padding-top : 10px ; 
    padding-left: 20px;
    width: 60%;
    height: 5%;
    font-weight: bold;
    font-size: 15px;
   
.plate{
    color:grey;
    font-weight: normal;
    font-size:small;
}
  
}

}
.details_container{

    margin: 2%;  
    


    .details{
       
        width: 100%;
        display: flex;
        justify-content: space-between;
        .data{
            padding-right: 2%
        }
    }
}
